@keyframes float {
    0% {
        transform: translateY(0px) rotate(10deg);
    }

    50% {
        transform: translateY(-20px) rotate(12deg);
    }

    100% {
        transform: translateY(0px) rotate(10deg);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}


/* Hide scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Mimic Framer Motion initial: opacity 0 and slightly shifted down */
.stat-number {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* State when the element comes into view */
.stat-number.is-visible {
    opacity: 1;
    transform: translateY(0);
}