@keyframes float {
    0% {
        transform: translateY(0px) rotate(10deg);
    }

    50% {
        transform: translateY(-20px) rotate(12deg);
    }

    100% {
        transform: translateY(0px) rotate(10deg);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}


